    --ytd-rich-grid-items-per-row: 4;
    --ytd-rich-grid-posts-per-row: 3;
    --ytd-rich-grid-slim-items-per-row: 6;
    --ytd-rich-grid-game-cards-per-row: 6;
    --ytd-rich-grid-mini-game-cards-per-row: 6;
    --ytd-rich-grid-item-margin: 16px;
    --ytd-rich-grid-compact-item-margin: 4px;
    --ytd-rich-grid-shorts-item-margin: 4px;
    --ytd-rich-grid-row-margin: 32px;
    --ytd-rich-grid-gutter-margin: 16px;
    --ytd-rich-grid-item-min-width: 310px;
    --ytd-rich-grid-item-max-width: 500px;
    --ytd-rich-grid-mini-item-min-width: 240px;
    --ytd-rich-grid-mini-item-max-width: 320px;
    --ytd-rich-grid-slim-item-max-width: 220px;
    --ytcp-error-background: rgba(255,137,131,0.2);
    --ytcp-warning-background: rgba(255,172,115,0.2);
    --ytcp-success-background: rgba(62,255,62,0.2);
    --ytcp-overlay-backdrop-opacity: 0.55;
    --ytcp-static-overlay-background-solid: #000;
    --ytcp-static-overlay-background-heavy: rgba(0,0,0,0.8);
    --ytcp-static-overlay-background-medium: rgba(0,0,0,0.6);
    --ytcp-static-overlay-background-medium-light: rgba(0,0,0,0.3);
    --ytcp-static-overlay-background-red: rgba(204,0,0,0.9);
    --ytcp-static-overlay-background-a20: rgba(0,0,0,0.2);
    --ytcp-static-overlay-tooltip-background: rgba(96,96,96,0.9);
    --ytcp-static-overlay-text-primary: #fff;
    --ytcp-static-overlay-text-secondary: rgba(255,255,255,0.7);
    --ytcp-static-overlay-text-disabled: rgba(255,255,255,0.3);
    --ytcp-static-yellow: #fbc02d;
    --ytcp-static-overlay-drop-shadow-a12: rgba(0,0,0,0.12);
    --ytcp-static-overlay-drop-shadow-a40: rgba(0,0,0,0.4);
    --ytcp-static-overlay-focus: #fff;
    --ytcp-static-brand-red: #f03;
    --ytcp-static-brand-white: #fff;
    --ytcp-analytics-comparison-candy: rgba(235,60,151,0.03);
    --ytcp-analytics-apricot-a03: rgba(230,153,14,0.03);
    --ytcp-static-brand-red-a38: rgba(255,0,51,0.38);
    --ytcp-gen-ai-1: #007a65;
    --ytcp-gen-ai-2: #7f0e7f;
    --ytcp-gen-ai-3: #aa09aa;
    --ytcp-gen-ai-4: #ff4e45;
    --ytcp-gen-ai-background-gradient: linear-gradient(90deg,var(--ytcp-gen-ai-2) 0,var(--ytcp-gen-ai-3) 20%,var(--ytcp-gen-ai-4) 100%);
    --ytcp-gen-ai-background-gradient-hover: linear-gradient(90deg,var(--ytcp-gen-ai-1) 0%,var(--ytcp-gen-ai-2) 100%);
    --ytcp-gen-ai-background-additive-gradient: linear-gradient(90deg,var(--ytcp-gen-ai-2-additive) 0%,var(--ytcp-gen-ai-3-additive) 20%,var(--ytcp-gen-ai-4-additive) 100%);
    --ytcp-gen-ai-background-additive-gradient-hover: linear-gradient(90deg,var(--ytcp-gen-ai-1-additive) 0%,var(--ytcp-gen-ai-2-additive) 100%);
    --ytcp-gen-ai-background-tile-gradient: linear-gradient(70deg,var(--ytcp-gen-ai-2) 0%,var(--ytcp-gen-ai-3) 20%,var(--ytcp-gen-ai-4) 85%);
    --ytcp-gen-ai-background-tile-gradient-hover: linear-gradient(70deg,var(--ytcp-gen-ai-1) 0%,var(--ytcp-gen-ai-2) 85%);
    --ytcp-gen-ai-gradient-full: linear-gradient(270deg,var(--ytcp-gen-ai-1) 0%,var(--ytcp-gen-ai-2) 30%,var(--ytcp-gen-ai-3) 50%,var(--ytcp-gen-ai-4) 100%);
    --ytcms-static-player-audio: #e6990e;
    --ytcms-static-player-audio-background: rgba(230,153,14,0.87);
    --ytcms-static-player-audio-background-dimmer: rgba(230,153,14,0.5);
    --ytcms-static-player-visual: #00b4a2;
    --ytcms-static-player-visual-background: rgba(0,180,162,0.87);
    --ytcms-static-player-visual-background-dimmer: rgba(0,180,162,0.5);
    --ytcms-asset-history-before-background: rgba(130,153,255,0.05);
    --ytcms-asset-history-after-background: rgba(188,105,243,0.05);
    --ytmus-add-to-collection-highlight: #d94d6c;
    --ytmus-onboarding-illustration-bg: #f2f5f8;
    --ytmus-onboarding-highlight-gradient1: #3ba5d2;
    --ytmus-onboarding-highlight-gradient2: #06c8d4;
    --ytmus-onboarding-highlight-color: #fff;
    --ytmus-assistant-welcome-1x: url(https://www.gstatic.com/youtube/img/creator/storefront/assistant_welcome_1x.png);
    --ytmus-assistant-welcome-2x: url(https://www.gstatic.com/youtube/img/creator/storefront/assistant_welcome_2x.png);
    --ytmus-onboarding-image-1x-v2: url(https://www.gstatic.com/youtube/img/creator/storefront/onboarding_1x.png);
    --ytmus-onboarding-image-2x-v2: url(https://www.gstatic.com/youtube/img/creator/storefront/onboarding_2x.png);
    --ytmus-onboarding-image-background: linear-gradient(157.33deg,#70baff 6.14%,#b6e7f5 93.6%);
    --ytmus-assistant-background-gradient-center: rgba(255,120,255,0.05);
    --ytmus-coupon-success-text: #007800;
    --ytcp-static-overlay-text-primary-inverse: #0d0d0d;
    --ytcp-static-overlay-text-secondary-inverse: #606060;
    --yt-deprecated-blue-light: hsl(205.9,80%,43.1%);
    --yt-deprecated-opalescence-grey-opacity-lighten-3: hsla(0,0%,53.3%,0.4);
    --yt-deprecated-luna-black-opacity-lighten-4: hsla(0,0%,6.7%,0.2);
    --yt-opalescence-dark-grey: hsl(0,0%,20%);
    --yt-deprecated-white-opacity-lighten-4: hsla(0,0%,100%,0.2);
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-1: hsla(0,0%,93.3%,0.8);
    --yt-live-chat-text-input-field-underline-transition-duration: 0.25s;
    --yt-live-chat-header-bottom-border: 1px solid var(--yt-spec-outline);
    --yt-live-chat-count-color-early-warning: hsl(40,76%,55%);
    --yt-live-chat-count-color-error: var(--yt-spec-error-indicator);
    --yt-live-chat-new-moderator-color: var(--yt-spec-call-to-action);
    --yt-live-chat-author-chip-owner-background-color: #ffd600;
    --yt-live-chat-banner-border-color: var(--yt-spec-outline);
    --yt-live-chat-banner-animation-duration: 0.35s;
    --yt-live-chat-banner-animation-fast-duration: 0.25s;
    --yt-live-chat-banner-indeterminate-bar-background: repeating-linear-gradient(90deg,#fff,#fff 6px,#aaa 6px,#aaa 9px);
    --yt-live-chat-banner-bar-animation-duration: 1s;
    --yt-live-chat-call-for-questions-primary-text-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-call-for-questions-secondary-text-color: var( --yt-spec-overlay-text-secondary );
    --yt-live-chat-call-for-questions-ask-question-button-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-call-to-action-primary-text-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-call-to-action-secondary-text-color: var( --yt-spec-overlay-text-secondary );
    --yt-live-chat-call-to-action-ask-question-button-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-qna-primary-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-qna-start-panel-header-border-color: var(--yt-spec-outline);
    --yt-live-chat-qna-panel-start-button-background-color: var( --yt-spec-call-to-action );
    --yt-live-chat-qna-panel-start-button-color: var( --yt-deprecated-general-background-b );
    --yt-live-chat-qna-start-panel-button-background-color-disabled: var( --yt-spec-additive-background );
    --yt-live-chat-qna-panel-start-button-color-disabled: var( --yt-spec-text-disabled );
    --yt-live-chat-poll-primary-text-color: var( --yt-live-chat-secondary-text-color-inverse );
    --yt-live-chat-poll-secondary-text-color: var( --yt-live-chat-secondary-text-color-inverse );
    --yt-live-chat-poll-tertiary-text-color: var(--yt-spec-overlay-text-disabled);
    --yt-live-chat-poll-choice-text-color: var( --yt-live-chat-poll-primary-text-color );
    --yt-live-chat-poll-choice-background-color: transparent;
    --yt-live-chat-poll-choice-border-radius: 2px;
    --yt-live-chat-poll-choice-border: 1px solid var(--yt-live-chat-tertiary-text-color-inverse);
    --yt-live-chat-poll-choice-min-height: 16px;
    --yt-live-chat-poll-choice-vote-bar-background-color: var( --yt-spec-overlay-button-secondary );
    --yt-live-chat-poll-choice-hover-color: rgba(17,17,16,0.1);
    --yt-live-chat-poll-choice-animation-duration: 0.5s;
    --yt-live-chat-poll-choice-text-padding: 0 16px;
    --yt-live-chat-poll-editor-panel-header-border-color: var(--yt-spec-outline);
    --yt-live-chat-poll-editor-start-button-color: var( --yt-spec-text-primary-inverse );
    --yt-live-chat-poll-editor-start-button-background-color: var( --yt-spec-call-to-action );
    --yt-live-chat-poll-editor-start-button-color-disabled: var( --yt-spec-text-disabled );
    --yt-live-interactivity-component-background-color: #264c8a;
    --yt-live-chat-panel-animation-duration: 0.5s;
    --yt-live-chat-universal-motion-curve: cubic-bezier(0.05,0,0,1);
    --yt-emoji-picker-category-button-color: var(--yt-spec-text-disabled);
    --yt-live-chat-toast-action-color: #2196f3;
    --yt-live-chat-creator-support-button-border-radius: 2px;
    --yt-live-chat-creator-support-button-padding: 10px 16px;
    --yt-live-chat-creator-support-button-font-size: inherit;
    --yt-live-chat-upsell-dialog-renderer-button-padding: 10px 16px;
    --yt-pdg-paid-stickers-author-name-font-size: 14px;
    --yt-pdg-paid-stickers-author-subtext-font-size: 13px;
    --yt-pdg-paid-stickers-margin-left: 38px;
    --yt-live-chat-ninja-message-background-color: var(--yt-spec-base-background);
    --yt-live-chat-panel-pages-border-color: var(--yt-spec-outline);
    --ytd-z-index-report-form-overlay: 100;
    --ytd-z-index-engagement-panel-scrim: 600;
    --ytd-z-index-engagement-panel-scrimmed: 601;
    --ytd-z-index-toggle-button-tooltip: 2300;
    --ytd-z-index-masthead: 2020;
    --ytd-z-index-user-mention-suggestions-container: 2022;
    --ytd-z-index-notification: 2024;
    --ytd-z-index-miniplayer: 2016;
    --ytd-z-index-channel-name: 300;
    --ytd-z-index-ai-search-input: 2026;
    --ytd-thumbnail-height: 118px;
    --ytd-grid-1-columns-width: 214px;
    --ytd-grid-2-columns-width: 428px;
    --ytd-grid-3-columns-width: 642px;
    --ytd-grid-4-columns-width: 856px;
    --ytd-grid-5-columns-width: 1070px;
    --ytd-grid-6-columns-width: 1284px;
    --ytd-grid-max-width: 1284px;
    --ytd-scrollbar-width: 8px;
    --ytd-default-promo-panel-renderer-height: 600px;
    --paper-tooltip-delay-in: 1ms;
    --paper-tooltip-delay-out: 0;
    --paper-tooltip-duration-in: 150ms;
    --paper-tooltip-duration-out: 75ms;
    --yt-button-tooltip-z-index: 2300;
    --iron-overlay-backdrop-opacity: 0.3;
    --paper-tab-content-focused-font-weight: 500;
    --yt-button-margin: 0;
    --yt-button-padding: 10px 16px;
    --yt-button-padding-minus-border: 9px 15px;
    --yt-button-padding-minus-focus-outline: 8px 14px;
    --yt-button-padding-minus-focus-outline-width: 2px;
    --yt-button-with-icon-padding-minus-focus-outline: 4px 14px;
    --yt-button-border-radius: 2px;
    --ytd-grid-base: 103px;
    --ytd-margin-base: 4px;
    --ytd-avatar-size: 32px;
    --ytd-toolbar-height: 56px;
    --ytd-margin-2x: 8px;
    --ytd-margin-3x: 12px;
    --ytd-margin-4x: 16px;
    --ytd-margin-5x: 20px;
    --ytd-margin-6x: 24px;
    --ytd-margin-7x: 28px;
    --ytd-margin-8x: 32px;
    --ytd-margin-9x: 36px;
    --ytd-margin-10x: 40px;
    --ytd-margin-11x: 44px;
    --ytd-margin-12x: 48px;
    --ytd-margin-14x: 56px;
    --ytd-margin-16x: 64px;
    --ytd-margin-17x: 68px;
    --ytd-margin-24x: 96px;
    --ytd-margin-25x: 100px;
    --ytd-margin-35x: 140px;
    --ytd-neg-margin-base: -4px;
    --ytd-neg-margin-2x: -8px;
    --ytd-neg-margin-3x: -12px;
    --ytd-neg-margin-4x: -16px;
    --ytd-neg-margin-5x: -20px;
    --ytd-neg-margin-6x: -24px;
    --ytd-neg-margin-7x: -28px;
    --ytd-neg-margin-8x: -32px;
    --ytd-neg-margin-10x: -40px;
    --ytd-neg-margin-11x: -44px;
    --ytd-neg-margin-12x: -48px;
    --ytd-neg-margin-14x: -56px;
    --ytd-neg-margin-16x: -64px;
    --ytd-neg-margin-24x: -96px;
    --ytd-neg-margin-25x: -100px;
    --yt-report-form-modal-renderer-min-width: 250px;
    --yt-legal-report-details-form-renderer-min-width: 250px;
    --yt-upsell-dialog-layout-vertical-width: 400px;
    --yt-upsell-dialog-layout-horizontal-width: 800px;
    --yt-subscription-product-grid-margin: 24px;
    --yt-subscription-product-grid-margin-two-thirds: 16px;
    --yt-subscription-product-grid-margin-half: 12px;
    --yt-subscription-product-grid-margin-one-third: 8px;
    --yt-navbar-title-font-size: 1.8rem;
    --ytd-navbar-title-font-size: var(--yt-navbar-title-font-size);
    --ytd-navbar-title-font-weight: 400;
    --ytd-navbar-title-line-height: var(--yt-navbar-title-line-height,2.4rem);
    --ytd-subheadline-font-size: var(--yt-subheadline-font-size,1.6rem);
    --ytd-subheadline-font-weight: 400;
    --ytd-subheadline-line-height: var(--yt-subheadline-line-height,2rem);
    --ytd-subheadline-letter-spacing: var( --yt-subheadline-letter-spacing,normal );
    --ytd-link-font-size: var(--yt-link-font-size,1.4rem);
    --ytd-link-font-weight: 500;
    --ytd-link-line-height: var(--yt-link-line-height,1.6rem);
    --ytd-link-letter-spacing: var(--yt-link-letter-spacing,normal);
    --ytd-user-comment-font-size: var(--yt-user-comment-font-size,1.4rem);
    --ytd-user-comment-font-weight: 400;
    --ytd-user-comment-line-height: var(--yt-user-comment-line-height,2.1rem);
    --ytd-user-comment-letter-spacing: var( --yt-user-comment-letter-spacing,normal );
    --ytd-tab-system-font-size: var(--yt-tab-system-font-size,1.4rem);
    --ytd-tab-system-font-weight: 500;
    --ytd-tab-system-letter-spacing: var(--yt-tab-system-letter-spacing,0.007px);
    --ytd-tab-system-text-transform: uppercase;
    --ytd-caption-font-size: var(--yt-caption-font-size,1.3rem);
    --ytd-caption-line-height: var(--yt-caption-line-height,normal);
    --ytd-caption-font-weight: 500;
    --ytd-caption-letter-spacing: var(--yt-caption-letter-spacing,0.007px);
    --ytd-caption-text-transform: uppercase;
    --ytd-mini-attribution-font-size: 1.2rem;
    --ytd-mini-attribution-font-weight: 400;
    --ytd-mini-attribution-line-height: 1.5rem;
    --ytd-code-snippet-font-size: 1.4rem;
    --ytd-code-snippet-line-height: 2.4rem;
    --action-l-leading-default: 2rem;
    --action-l-leading-tall: 2.2rem;
    --action-l-size: 1.6rem;
    --action-m-leading-default: 1.8rem;
    --action-m-leading-tall: 2rem;
    --action-m-size: 1.4rem;
    --action-s-leading-default: 1.6rem;
    --action-s-leading-tall: 1.8rem;
    --action-s-size: 1.2rem;
    --action-weight-default: 500;
    --action-weight-heavy: 700;
    --action-xl-leading-default: 2.2rem;
    --action-xl-leading-tall: 2.6rem;
    --action-xl-size: 1.8rem;
    --action-xs-leading-default: 1.4rem;
    --action-xs-leading-tall: 1.6rem;
    --action-xs-size: 1rem;
    --body-l-leading-default: 2rem;
    --body-l-leading-tall: 2.2rem;
    --body-l-size: 1.6rem;
    --body-m-leading-default: 1.8rem;
    --body-m-leading-tall: 2rem;
    --body-m-size: 1.4rem;
    --body-s-leading-default: 1.6rem;
    --body-s-leading-tall: 1.8rem;
    --body-s-size: 1.2rem;
    --body-weight-default: 400;
    --body-weight-heavy: 500;
    --body-xl-leading-default: 2.2rem;
    --body-xl-leading-tall: 2.6rem;
    --body-xl-size: 1.8rem;
    --body-xs-leading-default: 1.4rem;
    --body-xs-leading-tall: 1.6rem;
    --body-xs-size: 1rem;
    --display-font-family: YouTube Sans;
    --display-l-leading-default: 7.8rem;
    --display-l-leading-tall: 9rem;
    --display-l-size: 6.4rem;
    --display-m-leading-default: 5.8rem;
    --display-m-leading-tall: 6.6rem;
    --display-m-size: 4.8rem;
    --display-s-leading-default: 4.4rem;
    --display-s-leading-tall: 5rem;
    --display-s-size: 3.6rem;
    --display-weight-default: 300;
    --display-weight-heavy: 700;
    --display-xs-leading-default: 3.4rem;
    --display-xs-leading-tall: 3.8rem;
    --display-xs-size: 2.8rem;
    --font-family: Roboto;
    --headline-l-leading-default: 4.4rem;
    --headline-l-leading-tall: 5rem;
    --headline-l-size: 3.6rem;
    --headline-m-leading-default: 3.4rem;
    --headline-m-leading-tall: 3.8rem;
    --headline-m-size: 2.8rem;
    --headline-s-leading-default: 3rem;
    --headline-s-leading-tall: 3.2rem;
    --headline-s-size: 2.4rem;
    --headline-weight-default: 700;
    --headline-weight-heavy: 900;
    --headline-xs-leading-default: 2.4rem;
    --headline-xs-leading-tall: 2.8rem;
    --headline-xs-size: 2rem;
    --weight-black: 900;
    --weight-bold: 700;
    --weight-light: 300;
    --weight-medium: 500;
    --weight-regular: 400;
    --action-l-leading-default-narrow: 2rem;
    --action-l-leading-tall-narrow: 2.2rem;
    --action-l-size-narrow: 1.6rem;
    --action-m-leading-default-narrow: 1.8rem;
    --action-m-leading-tall-narrow: 2rem;
    --action-m-size-narrow: 1.4rem;
    --action-s-leading-default-narrow: 1.6rem;
    --action-s-leading-tall-narrow: 1.8rem;
    --action-s-size-narrow: 1.2rem;
    --action-weight-default-narrow: 500;
    --action-weight-heavy-narrow: 700;
    --action-xl-leading-default-narrow: 2.2rem;
    --action-xl-leading-tall-narrow: 2.6rem;
    --action-xl-size-narrow: 1.8rem;
    --action-xs-leading-default-narrow: 1.4rem;
    --action-xs-leading-tall-narrow: 1.6rem;
    --action-xs-size-narrow: 1rem;
    --body-l-leading-default-narrow: 2rem;
    --body-l-leading-tall-narrow: 2.2rem;
    --body-l-size-narrow: 1.6rem;
    --body-m-leading-default-narrow: 1.8rem;
    --body-m-leading-tall-narrow: 2rem;
    --body-m-size-narrow: 1.4rem;
    --body-s-leading-default-narrow: 1.6rem;
    --body-s-leading-tall-narrow: 1.8rem;
    --body-s-size-narrow: 1.2rem;
    --body-weight-default-narrow: 400;
    --body-weight-heavy-narrow: 500;
    --body-xl-leading-default-narrow: 2.2rem;
    --body-xl-leading-tall-narrow: 2.6rem;
    --body-xl-size-narrow: 1.8rem;
    --body-xs-leading-default-narrow: 1.4rem;
    --body-xs-leading-tall-narrow: 1.6rem;
    --body-xs-size-narrow: 1rem;
    --display-font-family-narrow: YouTube Sans;
    --display-l-leading-default-narrow: 6.8rem;
    --display-l-leading-tall-narrow: 7.8rem;
    --display-l-size-narrow: 5.6rem;
    --display-m-leading-default-narrow: 4.8rem;
    --display-m-leading-tall-narrow: 5.4rem;
    --display-m-size-narrow: 4rem;
    --display-s-leading-default-narrow: 3.8rem;
    --display-s-leading-tall-narrow: 4.4rem;
    --display-s-size-narrow: 3.2rem;
    --display-weight-default-narrow: 300;
    --display-weight-heavy-narrow: 700;
    --display-xs-leading-default-narrow: 3rem;
    --display-xs-leading-tall-narrow: 3.2rem;
    --display-xs-size-narrow: 2.4rem;
    --font-family-narrow: Roboto;
    --headline-l-leading-default-narrow: 3.8rem;
    --headline-l-leading-tall-narrow: 4.4rem;
    --headline-l-size-narrow: 3.2rem;
    --headline-m-leading-default-narrow: 3rem;
    --headline-m-leading-tall-narrow: 3.2rem;
    --headline-m-size-narrow: 2.4rem;
    --headline-s-leading-default-narrow: 2.4rem;
    --headline-s-leading-tall-narrow: 2.8rem;
    --headline-s-size-narrow: 2rem;
    --headline-weight-default-narrow: 700;
    --headline-weight-heavy-narrow: 900;
    --headline-xs-leading-default-narrow: 2.2rem;
    --headline-xs-leading-tall-narrow: 2.6rem;
    --headline-xs-size-narrow: 1.8rem;
    --weight-black-narrow: 900;
    --weight-bold-narrow: 700;
    --weight-light-narrow: 300;
    --weight-medium-narrow: 500;
    --weight-regular-narrow: 400;
    --yt-spec-white-1: #fff;
    --yt-spec-white-2: #f9f9f9;
    --yt-spec-white-3: #f1f1f1;
    --yt-spec-white-4: #e9e9e9;
    --yt-spec-black-1: #282828;
    --yt-spec-black-2: #1f1f1f;
    --yt-spec-black-3: #161616;
    --yt-spec-black-4: #0d0d0d;
    --yt-spec-black-pure: #000;
    --yt-spec-grey-1: #ccc;
    --yt-spec-grey-2: #aaa;
    --yt-spec-grey-3: #909090;
    --yt-spec-grey-4: #717171;
    --yt-spec-grey-5: #606060;
    --yt-brand-youtube-red: #f00;
    --yt-brand-medium-red: #c00;
    --yt-brand-light-red: #ff4e45;
    --yt-spec-red-30: #ff8983;
    --yt-spec-red-70: #990412;
    --yt-spec-pale-blue: #f2f8ff;
    --yt-spec-light-blue: #3ea6ff;
    --yt-spec-dark-blue: #065fd4;
    --yt-spec-navy-blue: #252a3a;
    --yt-spec-light-green: #2ba640;
    --yt-spec-dark-green: #107516;
    --yt-spec-yellow: #fbc02d;
    --yt-spec-black-pure-alpha-5: rgba(0,0,0,0.05);
    --yt-spec-black-pure-alpha-10: rgba(0,0,0,0.1);
    --yt-spec-black-pure-alpha-15: rgba(0,0,0,0.15);
    --yt-spec-black-pure-alpha-30: rgba(0,0,0,0.3);
    --yt-spec-black-pure-alpha-60: rgba(0,0,0,0.6);
    --yt-spec-black-pure-alpha-80: rgba(0,0,0,0.8);
    --yt-spec-black-1-alpha-98: rgba(40,40,40,0.98);
    --yt-spec-black-1-alpha-95: rgba(40,40,40,0.95);
    --yt-spec-white-1-alpha-10: rgba(255,255,255,0.1);
    --yt-spec-white-1-alpha-20: rgba(255,255,255,0.2);
    --yt-spec-white-1-alpha-25: rgba(255,255,255,0.25);
    --yt-spec-white-1-alpha-30: rgba(255,255,255,0.3);
    --yt-spec-white-1-alpha-70: rgba(255,255,255,0.7);
    --yt-spec-white-1-alpha-95: rgba(255,255,255,0.95);
    --yt-spec-white-1-alpha-98: rgba(255,255,255,0.98);
    --yt-brand-medium-red-alpha-90: rgba(204,0,0,0.9);
    --yt-brand-medium-red-alpha-30: rgba(204,0,0,0.3);
    --yt-brand-light-red-alpha-30: rgba(255,78,69,0.3);
    --yt-spec-light-blue-alpha-30: rgba(62,166,255,0.3);
    --yt-spec-dark-blue-alpha-30: rgba(6,95,212,0.3);
    --yt-deprecated-luna-black: hsl(0,0%,6.7%);
    --yt-deprecated-opalescence-grey: hsl(0,0%,53.3%);
    --yt-deprecated-opalescence-soft-grey: hsl(0,0%,93.3%);
    --yt-deprecated-blue: hsl(206.1,79.3%,52.7%);
    --yt-deprecated-luna-black-opacity-lighten-1: hsla(0,0%,6.7%,0.8);
    --yt-deprecated-luna-black-opacity-lighten-2: hsla(0,0%,6.7%,0.6);
    --yt-deprecated-luna-black-opacity-lighten-3: hsla(0,0%,6.7%,0.4);
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-3: hsla(0,0%,93.3%,0.4);
    --yt-deprecated-white-opacity-lighten-1: hsla(0,0%,100%,0.8);
    --yt-deprecated-white-opacity-lighten-2: hsla(0,0%,100%,0.6);
    --yt-deprecated-dark-surface-100: hsl(0,0%,7%);
    -webkit-text-size-adjust: none;
    --primary-text-color: var(--light-theme-text-color);
    --primary-background-color: var(--light-theme-background-color);
    --secondary-text-color: var(--light-theme-secondary-color);
    --disabled-text-color: var(--light-theme-disabled-color);
    --divider-color: var(--light-theme-divider-color);
    --error-color: #dd2c00;
    --primary-color: #3f51b5;
    --light-primary-color: #c5cae9;
    --dark-primary-color: #303f9f;
    --accent-color: #ff4081;
    --light-accent-color: #ff80ab;
    --dark-accent-color: #f50057;
    --light-theme-background-color: #fff;
    --light-theme-base-color: #000;
    --light-theme-text-color: #212121;
    --light-theme-secondary-color: #737373;
    --light-theme-disabled-color: #9b9b9b;
    --light-theme-divider-color: #dbdbdb;
    --dark-theme-background-color: #212121;
    --dark-theme-base-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    --dark-theme-divider-color: #3c3c3c;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);
    --obsidian-clipper-background-opacity: 0.9;
    --obsidian-clipper-text-muted: #5c5c5c;
    --obsidian-clipper-background-primary: #1e1e1e;
    --obsidian-clipper-background-primary-rgb: 12, 12, 12;
    --yt-attributed-string-link-hover-color: unset;
    --yt-light-rim-color: unset;
    --t7f4f2c6d54836ce0: rgba(255,255,255,0.1);
    --t7d8b8e5ee291aec0: rgba(0,0,0,0.05);
    --t4726c68ef6d7b08f: rgba(0,63,13,0.6);
    --tf0a0d1154827847f: rgba(124,41,0,0.6);
    --t3e41d7b17b187f69: #0f0f0f;
    --t854c79338d8ca8a7: #f57;
    --t20480717de80f555: rgba(255,255,255,0.2);
    --t2d807bb79e75606d: #3ea6ff;
    --t617db776af0de196: #65b8ff;
    --tb628117fc164ad87: #065fd4;
    --td545df04e2c659d7: #f57;
    --t53991d599b1488f5: #c30027;
    --ta889dfda9605a358: rgba(15,15,15,0.8);
    --t5978da8d584b8fe9: rgba(15,15,15,0.7);
    --tdbe50d27d51f5093: rgba(0,122,101,0.3);
    --t99f774684cbb9703: rgba(127,14,127,0.3);
    --tb8b31ac562fbe9b5: rgba(170,9,170,0.3);
    --tef70ca245445b52b: rgba(255,78,69,0.3);
    --t1405e70a39276293: #f1f1f1;
    --tad8443faed66c111: #d9d9d9;
    --te6d2b428de68554a: #171c23;
    --tc980c5478124c8c7: #d5e3fc;
    --t965644ecdbe4b7b8: #2b3138;
    --tb14a10c3b43a15a3: #171c23;
    --tb13ff8797829e79e: #2b3138;
    --te5668e6111aba0ed: #42474f;
    --ta7d628facfe84d18: #a0abcb;
    --tbe42269534655e67: #30353b;
    --tab8059236063cadb: #ecf1fb;
    --t735e435a8b7ad67c: #fff;
    --t21af08fdbf6a1406: #fff;
    --tc604113d09fee05d: #c5cbd4;
    --t08a7c6c176cbc5c2: #282828;
    --t8cdc9846a76caf1f: #d9d9d9;
    --te1b64e6971040396: #272727;
    --t416e5931fc464589: rgba(255,255,255,0.2);
    --tb7d74bb3291c951d: rgba(0,0,0,0.1);
    --tf3fc855af2285f5f: rgba(255,255,255,0.2);
    --t0a1249f7c9e82b5e: rgba(0,0,0,0.1);
    --t02c0a2c868c14ce8: #e5e5e5;
    --td8562cdc203bc683: #3f3f3f;
    --t53dda9125e8d1324: rgba(255,255,255,0.15);
    --t544e31714f63d53c: rgba(255,255,255,0.3);
    --t518e925f61bdcb91: #212121;
    --t832f22ce6618e99e: #e6e6e6;
    --t45b2a38314924357: #0f0f0f;
    --t6931aa1826b373b2: rgba(255,255,255,0.3);
    --ted4236536899e4b3: rgba(255,255,255,0.15);
    --t296c7f81dd09a9c3: #fff;
    --tfa3475c508f5dfef: #263850;
    --t9bc0b740242da017: #515561;
    --t441a0e44e495381a: #def1ff;
    --tde41338fc2bd4ba5: #fff;
    --t4d7776c28db21122: #a4ffa4;
    --t7e34d5baa4ea6277: #717171;
    --tc4b26042d4cb141f: #909090;
    --t5208fd177a788cfa: #ffbfbd;
    --tffc2fd3a644f6275: #f1f1f1;
    --t6216186c28b3834b: #0f0f0f;
    --t4a6da19e16bf221a: #aaa;
    --td9c19f4f8cecd56e: #606060;
    --t3f3bdb4140d3ead7: #ffcd97;
    --t904a88c623ca27ab: #2ba640;
    --t2c3bbff6c15a3eb2: #107516;
    --t0ccd1ace000d5e93: rgba(0,0,0,0.8);
    --tc87f6a7f05e65fc4: rgba(255,255,255,0.1);
    --tc04ba3e73561953c: rgba(0,0,0,0.1);
    --t7c4965c11f8537c0: rgba(255,255,255,0.15);
    --t432fbdbd7f2f3f71: rgba(0,0,0,0.05);
    --taf1bdd961423c15f: rgba(255,255,255,0.05);
    --t9d7bdcaefc975d44: rgba(255,255,255,0.2);
    --t4fb0f67b251e1a42: #fff;
    --ta08e036410c14538: #000;
    --t7f9b7e1603e20b94: #fff;
    --yt-live-chat-background-color: var(--yt-spec-base-background);
    --yt-live-chat-action-panel-background-color: var(--yt-spec-base-background);
    --yt-live-chat-action-panel-background-color-transparent: rgba(40,40,40,0.8);
    --yt-live-chat-additive-background-inverse: var(--yt-spec-black-pure-alpha-5);
    --yt-live-chat-secondary-background-color: #282828;
    --yt-live-chat-toast-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-toast-background-color: #323232;
    --yt-live-chat-mode-change-background-color: #333;
    --yt-live-chat-primary-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-secondary-text-color: rgba(255,255,255,0.7);
    --yt-live-chat-secondary-text-color-inverse: var(--yt-spec-grey-5);
    --yt-live-chat-tertiary-text-color: rgba(255,255,255,0.54);
    --yt-live-chat-tertiary-text-color-inverse: var( --yt-spec-black-pure-alpha-30 );
    --yt-live-chat-text-input-field-inactive-underline-color: #666;
    --yt-live-chat-icon-button-color: var(--yt-live-chat-primary-text-color);
    --yt-live-chat-enabled-send-button-color: #fff;
    --yt-live-chat-disabled-icon-button-color: rgba(255,255,255,0.3);
    --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
    --yt-live-chat-picker-button-active-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-picker-button-disabled-color: var( --yt-live-chat-disabled-icon-button-color );
    --yt-live-chat-picker-button-hover-color: rgba(255,255,255,0.74);
    --yt-live-chat-mention-background-color: #ff5722;
    --yt-live-chat-mention-text-color: #fff;
    --yt-live-chat-deleted-message-color: rgba(255,255,255,0.5);
    --yt-live-chat-deleted-message-bar-color: rgba(255,255,255,0.5);
    --yt-live-chat-error-message-color: var(--yt-spec-error-indicator);
    --yt-live-chat-reconnect-message-color: #fff;
    --yt-live-chat-disabled-button-background-color: #444;
    --yt-live-chat-disabled-button-text-color: var( --yt-live-chat-secondary-text-color );
    --yt-live-chat-sub-panel-background-color: var(--yt-spec-base-background);
    --yt-live-chat-sub-panel-background-color-transparent: var( --yt-spec-base-background );
    --yt-live-chat-header-background-color: var(--yt-spec-base-background);
    --yt-live-chat-header-button-color: var(--yt-live-chat-secondary-text-color);
    --yt-live-chat-moderator-color: #5e84f1;
    --yt-live-chat-owner-color: #ffd600;
    --yt-live-chat-message-highlight-background-color: var( --yt-spec-raised-background );
    --yt-live-chat-author-chip-owner-text-color: var(--yt-deprecated-luna-black);
    --yt-live-chat-author-chip-verified-background-color: var(--yt-spec-grey-5);
    --yt-live-chat-author-chip-verified-text-color: var(--yt-spec-white-4);
    --yt-live-chat-sponsor-color: #2ba640;
    --yt-live-chat-overlay-color: rgba(0,0,0,0.5);
    --yt-live-chat-dialog-background-color: #424242;
    --yt-live-chat-dialog-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-button-default-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-button-default-background-color: var( --yt-deprecated-white-opacity-lighten-4 );
    --yt-live-chat-button-dark-text-color: var(--yt-spec-overlay-text-primary);
    --yt-live-chat-button-dark-background-color: var( --yt-deprecated-white-opacity-lighten-4 );
    --yt-emoji-picker-variant-selector-bg-color: #2f2f2f;
    --yt-live-chat-moderation-mode-hover-background-color: rgba(255,255,255,0.3);
    --yt-live-chat-additional-inline-action-button-color: var(--yt-grey);
    --yt-live-chat-additional-inline-action-button-background-color: var( --yt-deprecated-opalescence-soft-grey-opacity-lighten-1 );
    --yt-live-chat-additional-inline-action-button-background-color-hover: var( --yt-deprecated-opalescence-soft-grey );
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: #3e3e3e;
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #343434;
    --yt-live-chat-text-input-field-suggestion-text-color: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-text-input-field-suggestion-text-color-hover: var( --yt-spec-overlay-text-primary );
    --yt-live-chat-text-input-field-placeholder-color: var( --yt-live-chat-secondary-text-color );
    --yt-live-chat-ticker-arrow-background: var( --yt-live-chat-action-panel-background-color );
    --yt-emoji-picker-category-background-color: var( --yt-live-chat-action-panel-background-color-transparent );
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-search-background-color: #444;
    --yt-emoji-picker-search-color: #fff;
    --yt-emoji-picker-search-placeholder-color: #999;
    --yt-emoji-picker-base-with-variants-border: var(--yt-spec-white-1-alpha-25);
    --yt-live-chat-slider-active-color: #2196f3;
    --yt-live-chat-slider-container-color: #515151;
    --yt-live-chat-slider-markers-color: #fff;
    --yt-live-chat-banner-gradient-scrim: linear-gradient(rgba(40,40,40,0.95),transparent);
    --yt-live-chat-action-panel-gradient-scrim: linear-gradient(to top,rgba(40,40,40,0.95),transparent);
    --yt-live-chat-poll-choice-additive-background-color: var( --yt-spec-white-1-alpha-20 );
    --yt-live-chat-poll-choice-additive-background-color-inverse: var( --yt-spec-black-pure-alpha-10 );
    --yt-live-chat-poll-banner-border-highlight-color: var(--yt-spec-black-3);
    --yt-live-chat-poll-editor-start-button-background-color-disabled: var( --yt-spec-grey-1 );
    --yt-live-chat-automod-button-background-color: var( --yt-deprecated-opalescence-grey-opacity-lighten-3 );
    --yt-live-chat-automod-button-background-color-hover: rgba(255,255,255,0.5);
    --yt-live-chat-automod-button-explanation-color: rgba(255,255,255,0.7);
    --yt-live-chat-countdown-opacity: 0.5;
    --yt-live-chat-shimmer-background-color: rgba(17,17,17,0.4);
    --yt-live-chat-shimmer-linear-gradient: linear-gradient(0deg,rgba(0,0,0,0.1) 40%,rgba(100,100,100,0.3) 50%,rgba(0,0,0,0.1) 60%);
    --yt-live-chat-vem-background-color: #3e3e3e;
    --yt-live-chat-product-picker-icon-color: rgba(255,255,255,0.5);
    --yt-live-chat-product-picker-hover-color: rgba(68,68,68,1);
    --yt-live-chat-product-picker-disabled-icon-color: rgba(255,255,255,0.3);
    --yt-pdg-paid-stickers-tab-selection-bar-color: var(--yt-spec-light-blue);
    --ytd-searchbox-border-color: hsla(0,0%,53.3%,0.4);
    --ytd-searchbox-legacy-border-color: hsl(0,0%,18.82%);
    --ytd-searchbox-legacy-border-shadow-color: hsla(0,0%,0%,0);
    --ytd-searchbox-legacy-button-color: hsla(0,0%,100%,0.08);
    --ytd-searchbox-legacy-button-border-color: hsl(0,0%,18.82%);
    --ytd-searchbox-legacy-button-focus-color: hsla(0,0%,100%,0.08);
    --ytd-searchbox-legacy-button-hover-color: hsla(0,0%,100%,0.08);
    --ytd-searchbox-legacy-button-hover-border-color: hsl(0,0%,18.82%);
    --ytd-searchbox-background: hsl(0,0%,7%);
    --ytd-searchbox-text-color: hsla(0,100%,100%,0.88);
    --yt-subheadline-letter-spacing: 0.1px;
    --yt-subheadline-link-letter-spacing: 0.15px;
    --yt-link-letter-spacing: 0.25px;
    --yt-thumbnail-attribution-letter-spacing: 0.3px;
    --yt-user-comment-letter-spacing: 0.2px;
    --yt-guide-highlight-letter-spacing: 0.25px;
    --yt-caption-letter-spacing: 0.35px;
    --yt-badge-letter-spacing: 0.35px;
    --yt-tab-system-letter-spacing: 0.5px;
    --yt-channel-line-height: 3.2rem;
    --yt-navbar-title-line-height: 2.6rem;
    --yt-subheadline-line-height: 2.2rem;
    --yt-link-line-height: 2rem;
    --yt-thumbnail-attribution-font-size: 1.2rem;
    --yt-thumbnail-attribution-line-height: 1.8rem;
    --yt-user-comment-line-height: 2rem;
    --yt-guide-highlight-line-height: 2rem;
    --yt-caption-font-size: 1.2rem;
    --yt-caption-line-height: 1.8rem;
    --paper-dialog-background-color: var(--yt-spec-raised-background);
    --paper-listbox-background-color: var(--yt-spec-raised-background);
    --paper-listbox-color: var(--yt-spec-text-primary);
    --paper-spinner-layer-1-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-2-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-3-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-4-color: var(--yt-spec-text-secondary);
    --paper-spinner-color: var(--yt-spec-text-secondary);
    --paper-input-container-focus-color: var(--yt-spec-call-to-action);
    --paper-input-container-input-color: var(--yt-spec-text-primary);
    --paper-input-container-invalid-color: var(--yt-spec-error-indicator);
    --paper-checkbox-unchecked-color: var(--yt-spec-text-primary);
    --paper-checkbox-unchecked-ink-color: var(--yt-spec-text-primary);
    --paper-checkbox-checked-color: var(--yt-spec-call-to-action);
    --paper-checkbox-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-checkbox-label-color: var(--yt-spec-text-primary);
    --paper-checkbox-label-spacing: 16px;
    --paper-checkbox-size: 20px;
    --paper-checkbox-checkmark-color: var(--yt-spec-text-primary-inverse);
    --paper-radio-button-unchecked-color: var(--yt-spec-text-primary);
    --paper-radio-button-unchecked-ink-color: var(--yt-spec-text-primary);
    --paper-radio-button-checked-color: var(--yt-spec-call-to-action);
    --paper-radio-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-radio-button-label-spacing: 16px;
    --paper-radio-button-label-color: var(--yt-spec-text-primary);
    --paper-radio-button-size: 20px;
    --paper-toggle-button-unchecked-bar-color: var(--yt-spec-text-disabled);
    --paper-toggle-button-unchecked-button-color: var(--yt-spec-text-secondary);
    --paper-toggle-button-checked-bar-color: var(--yt-spec-text-disabled);
    --paper-toggle-button-checked-button-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-unchecked-ink-color: var(--yt-spec-touch-response);
    --paper-menu-disabled-color: var(--yt-spec-text-primary);
    --paper-menu-background-color: var(--yt-spec-raised-background);
    --paper-menu-color: var(--yt-spec-text-primary);
    --yt-icon-width: 40px;
    --yt-icon-height: 40px;
    --yt-deprecated-paper-tab-ink: rgba(255,255,255,0.3);
    --ytcp-brand-background-solid: #282828;
    --ytcp-general-background-a: #1f1f1f;
    --ytcp-general-background-a-a0: rgba(31,31,31,0);
    --ytcp-general-background-b: #161616;
    --ytcp-general-background-b-a0: rgba(22,22,22,0);
    --ytcp-general-background-c: #0d0d0d;
    --ytcp-menu-background: #1f1f1f;
    --ytcp-selected-item: #161616;
    --ytcp-hover-item: #161616;
    --ytcp-ten-percent-layer: rgba(255,255,255,0.2);
    --ytcp-text-primary: #fff;
    --ytcp-text-secondary: #aaa;
    --ytcp-text-disabled: #717171;
    --ytcp-overlay-text-primary: #0d0d0d;
    --ytcp-overlay-text-secondary: rgba(13,13,13,0.7);
    --ytcp-overlay-text-disabled: rgba(13,13,13,0.3);
    --ytcp-call-to-action: #fff;
    --ytcp-call-to-action-secondary-ripple: rgba(255,255,255,0.2);
    --ytcp-call-to-action-raised-ripple: rgba(0,0,0,0.2);
    --ytcp-call-to-action-focused-background: rgba(255,255,255,0.2);
    --ytcp-call-to-action-raised-disabled-background: #606060;
    --ytcp-icon-active: #fff;
    --ytcp-icon-inactive: #909090;
    --ytcp-icon-disabled: #606060;
    --ytcp-line-divider: rgba(255,255,255,0.1);
    --ytcp-line-divider-solid: #3d3d3d;
    --ytcp-container-border-color: #606060;
    --ytcp-container-hovered-border-color: #717171;
    --ytcp-focus: #fff;
    --ytcp-error-red: #ff8983;
    --ytcp-warning-indicator: #ffcd97;
    --ytcp-success-indicator: #a4ffa4;
    --ytcp-playhead: #aaa;
    --ytcp-themed-blue: #3ea6ff;
    --ytcp-themed-green: #2ba640;
    --ytcp-themed-red: #ff4e45;
    --ytcp-themed-yellow: #815000;
    --ytcp-suggested-action: #263850;
    --ytcp-badge-grey: rgba(255,255,255,0.1);
    --ytcp-badge-blue: rgba(62,166,255,0.12);
    --ytcp-badge-blue-solid: #2b3742;
    --ytcp-badge-green: rgba(43,166,64,0.1);
    --ytcp-badge-red: #2a2222;
    --ytcp-badge-yellow: #35331e;
    --ytcp-chip-background: rgba(255,255,255,0.1);
    --ytcp-chip-background-hover: #0d0d0d;
    --ytcp-chip-background-active: #fff;
    --ytcp-overlay-drop-shadow-app-header: rgba(0,0,0,0.2);
    --ytcp-wordmark-text: #fff;
    --ytcp-analytics-overview: #41b4d9;
    --ytcp-analytics-reach: #8e8cff;
    --ytcp-analytics-reach-background: #403f5b;
    --ytcp-analytics-engagement: #eb5da6;
    --ytcp-analytics-audience: #bc69f3;
    --ytcp-analytics-revenue: #39cfc2;
    --ytcp-analytics-comparison-lagoon: rgba(65,180,217,0.07);
    --ytcp-analytics-comparison-orchid: rgba(188,105,243,0.07);
    --ytcp-analytics-yellow: #f2c428;
    --ytcp-analytics-apricot: #eca11b;
    --ytcp-analytics-apricot-a20: rgba(236,161,27,0.2);
    --ytcp-analytics-bubblegum: #f37ec0;
    --ytcp-analytics-valentine: #e15a78;
    --ytcp-analytics-parrot: #83c135;
    --ytcp-analytics-pine: #2aa170;
    --ytcp-analytics-royal-blue: #8299ff;
    --ytcp-themed-blue-a12: rgba(62,166,255,0.12);
    --ytcp-gen-ai-1-additive: rgba(0,122,101,0.3);
    --ytcp-gen-ai-2-additive: rgba(127,14,127,0.3);
    --ytcp-gen-ai-3-additive: rgba(170,9,170,0.3);
    --ytcp-gen-ai-4-additive: rgba(255,78,69,0.3);
    --ytcp-paper-checkbox-label-color: var(--ytcp-text-primary);
    --ytcp-gen-ai-input-border: #ff6cff80;
    --ytcp-gen-ai-input-glow: #aa09aa4d;
    --ytcp-data-stories-gradient-start: #28282800;
    --ytcp-data-stories-light-blue-gradient-end: #6ea2ff4c;
    --ytcp-data-stories-light-purple-gradient-end: #ff78ff4c;
    --ytcp-data-stories-light-green-gradient-end: #00ce224c;
    --ytcp-data-stories-gold-gradient-end: #ffc2004c;
    --ytcp-data-stories-purple-gradient-end: #b47bff4c;
    --ytcp-data-stories-cyan-gradient-end: #00dbff4c;
    --ytcp-data-stories-orange-gradient-end: #ff67004c;
    --ytcp-data-stories-red-gradient-end: #ff4e454c;
    --ytcms-header-status-resolved: #28352a;
    --ytmus-genre-primary-salmon: #b77a7a;
    --ytmus-genre-gradient-stop-1-salmon: 107,73,73;
    --ytmus-genre-gradient-stop-2-salmon: 108,95,76;
    --ytmus-genre-primary-salmon-a8: rgba(183,122,122,0.08);
    --ytmus-genre-primary-ruby: #823f57;
    --ytmus-genre-gradient-stop-1-ruby: 72,40,50;
    --ytmus-genre-gradient-stop-2-ruby: 60,32,32;
    --ytmus-genre-primary-ruby-a8: rgba(130,63,87,0.08);
    --ytmus-genre-primary-gold: #b6ae61;
    --ytmus-genre-gradient-stop-1-gold: 61,61,40;
    --ytmus-genre-gradient-stop-2-gold: 104,91,65;
    --ytmus-genre-primary-gold-a8: rgba(182,174,97,0.08);
    --ytmus-genre-primary-melon: #409256;
    --ytmus-genre-gradient-stop-1-melon: 35,52,39;
    --ytmus-genre-gradient-stop-2-melon: 43,69,53;
    --ytmus-genre-primary-melon-a8: rgba(64,146,86,0.08);
    --ytmus-genre-primary-orange: #be883a;
    --ytmus-genre-gradient-stop-1-orange: 105,76,32;
    --ytmus-genre-gradient-stop-2-orange: 98,80,34;
    --ytmus-genre-primary-orange-a8: rgba(190,136,58,0.08);
    --ytmus-genre-primary-lilac: #8689a9;
    --ytmus-genre-gradient-stop-1-lilac: 68,70,89;
    --ytmus-genre-gradient-stop-2-lilac: 71,44,59;
    --ytmus-genre-primary-lilac-a8: rgba(134,137,169,0.08);
    --ytmus-genre-primary-river: #436aa5;
    --ytmus-genre-gradient-stop-1-river: 57,76,102;
    --ytmus-genre-gradient-stop-2-river: 78,77,95;
    --ytmus-genre-primary-river-a8: rgba(67,106,165,0.08);
    --ytmus-genre-primary-sky: #559ec6;
    --ytmus-genre-gradient-stop-1-sky: 74,88,97;
    --ytmus-genre-gradient-stop-2-sky: 63,64,75;
    --ytmus-genre-primary-sky-a8: rgba(85,158,198,0.08);
    --ytmus-genre-primary-strawberry: #b159a9;
    --ytmus-genre-gradient-stop-1-strawberry: 102,88,96;
    --ytmus-genre-gradient-stop-2-strawberry: 60,56,76;
    --ytmus-genre-primary-strawberry-a8: rgba(177,89,169,0.08);
    --ytmus-genre-primary-lime: #869e68;
    --ytmus-genre-gradient-stop-1-lime: 71,86,67;
    --ytmus-genre-gradient-stop-2-lime: 49,88,50;
    --ytmus-genre-primary-lime-a8: rgba(134,158,104,0.08);
    --ytmus-genre-primary-violet: #8676b5;
    --ytmus-genre-gradient-stop-1-violet: 55,47,66;
    --ytmus-genre-gradient-stop-2-violet: 60,47,77;
    --ytmus-genre-primary-violet-a8: rgba(134,118,181,0.08);
    --ytmus-genre-primary-storm: #546c91;
    --ytmus-genre-gradient-stop-1-storm: 56,74,94;
    --ytmus-genre-gradient-stop-2-storm: 93,57,57;
    --ytmus-genre-primary-storm-a8: rgba(84,108,145,0.08);
    --ytmus-genre-primary-ash: #5e5e5e;
    --ytmus-genre-gradient-stop-1-ash: 78,78,78;
    --ytmus-genre-gradient-stop-2-ash: 32,32,32;
    --ytmus-genre-primary-ash-a8: rgba(94,94,94,0.08);
    --ytmus-nav-background: color-mix(in srgb,var(--ytcp-brand-background-solid),transparent 20%);
    --ytmus-storefront-landing-page-bg-alpha: 0.4;
    --ytmus-storefront-loading-bg: rgba(255,255,255,0.08);
    --ytmus-storefront-loading-gloss: rgba(255,255,255,0.16);
    --ytmus-onboarding-image-1x: url(https://www.gstatic.com/youtube/img/creator/storefront/onboarding_dark_1x.png);
    --ytmus-onboarding-image-2x: url(https://www.gstatic.com/youtube/img/creator/storefront/onboarding_dark_2x.png);
    --ytmus-onboarding-no-cost-text: #fff;
    --ytmus-contextual-banner-gradient-top: #d77e67;
    --ytmus-contextual-banner-gradient-bottom: #a5cceb;
    --ytmus-assistant-background-gradient-left: #c6b9dd88;
    --ytmus-assistant-background-gradient-right: #a3b5eeaa;
    --ytmus-assistant-icon-color: #a3b5ee;
    --yta-brand-background-solid: #282828;
    --yta-brand-background-solid-a25: rgba(40,40,40,0.25);
    --yta-brand-background-solid-a0: rgba(40,40,40,0);
    --yta-badge-grey-solid: #3d3d3d;
    --yta-explanation-background-solid: rgb(242,248,255);
    --yta-content-inspiration-genai-button-gradient: linear-gradient(70.69deg,#7f0e7f 2.25%,#aa09aa 21.65%,#ff4e45 85.97%);
    --yta-content-inspiration-genai-button-gradient-hover: linear-gradient(70.69deg,#007a65 2.25%,#7f0e7f 85.97%);
    --yta-content-inspiration-outline-button-icon: #fff;
    --yta-content-inspiration-genai-badge-gradient: linear-gradient(89deg,rgba(127,14,127,0.1) 0.61%,rgba(170,9,170,0.1) 20.37%,rgba(255,78,69,0.1) 99.39%);
    --yta-content-inspiration-shelf-disclaimer-color: #909090;
    --yta-content-inspiration-genai-text-background: linear-gradient(88.63deg,#4a83ef 0%,#d3667a 92.85%);
    --yta-content-inspiration-loading-gradient: linear-gradient(89.29deg,#007a65 0.61%,#7f0e7f 99.39%);
    --yta-content-inspiration-title-only-preview-gradient: linear-gradient(145deg,var(--expressive-purple-40,rgba(190,59,255,0.6)) -49.32%,rgba(40,40,40,0.6) 32.79%);
    --ytcp-creator-chat-base-background: #0d0d0d;
    --ytcp-creator-chat-genai-gradient-stop1: #ff51ff;
    --ytcp-creator-chat-genai-gradient-stop2: #bd72ff;
    --ytcp-creator-chat-genai-gradient-stop3: var(--ytcp-gen-ai-4);
    --ytcp-creator-chat-genai-gradient: linear-gradient(90deg,var(--ytcp-creator-chat-genai-gradient-stop1) 0,var(--ytcp-creator-chat-genai-gradient-stop2) 20%,var(--ytcp-creator-chat-genai-gradient-stop3) 100%);
    --ytcp-creator-chat-generalist-selector-gradient: linear-gradient(90deg,rgba(127,14,127,0.2) 0%,rgba(170,9,170,0.2) 20%,rgba(255,78,69,0.2) 100%);
    --ytcp-brand-background-solid-inverse: #fff;
    --ytcp-general-background-a-inverse: #f9f9f9;
    --ytcp-general-background-b-inverse: #f1f1f1;
    --ytcp-general-background-c-inverse: #e9e9e9;
    --ytcp-background-inverse: #f9f9f9;
    --ytcp-overlay-background-inverse: rgba(40,40,40,0.6);
    --ytcp-text-primary-inverse: #0d0d0d;
    --ytcp-text-secondary-inverse: #606060;
    --ytcp-text-disabled-inverse: #909090;
    --ytcp-icon-active-inverse: #606060;
    --ytcp-icon-disabled-inverse: #ccc;
    --ytcp-chip-background-inverse: rgba(0,0,0,0.06);
    --ytcp-ten-percent-layer-inverse: rgba(0,0,0,0.1);
    --ytcp-line-divider-inverse: rgba(0,0,0,0.1);
    --ytcp-container-border-color-inverse: #ccc;
    --ytcp-focus-inverse: #0d0d0d;
    --ytcp-error-red-inverse: #990412;
    --ytcp-themed-blue-inverse: #065fd4;
    --ytcp-themed-green-inverse: #007800;
    --ytcp-yellow-inverse: #fbc02d;
    --ytd-searchbox-legacy-button-icon-color: #fff;
    --yt-spec-additive-background: rgba(255,255,255,0.1);
    --yt-spec-additive-background-inverse: rgba(0,0,0,0.05);
    --yt-spec-background-complete: rgba(0,63,13,0.6);
    --yt-spec-background-warning: rgba(124,41,0,0.6);
    --yt-spec-base-background: #0f0f0f;
    --yt-spec-brand-red-contrast: #f57;
    --yt-spec-button-chip-background-hover: rgba(255,255,255,0.2);
    --yt-spec-call-to-action: #3ea6ff;
    --yt-spec-call-to-action-hover: #65b8ff;
    --yt-spec-call-to-action-inverse: #065fd4;
    --yt-spec-error-background-red: rgba(255,85,119,0.2);
    --yt-spec-error-indicator: #f57;
    --yt-spec-error-indicator-inverse: #c30027;
    --yt-spec-feed-vibrant-gradient1: #007a65;
    --yt-spec-feed-vibrant-gradient2: #7f0e7f;
    --yt-spec-feed-vibrant-gradient3: #f57;
    --yt-spec-frosted-glass-desktop: rgba(15,15,15,0.8);
    --yt-spec-frosted-glass-mobile: rgba(15,15,15,0.7);
    --yt-spec-genai-1: #007a65;
    --yt-spec-genai-1-additive: rgba(0,122,101,0.3);
    --yt-spec-genai-2: #7f0e7f;
    --yt-spec-genai-2-additive: rgba(127,14,127,0.3);
    --yt-spec-genai-3: #aa09aa;
    --yt-spec-genai-3-additive: rgba(170,9,170,0.3);
    --yt-spec-genai-4: #ff4e45;
    --yt-spec-genai-4-additive: rgba(255,78,69,0.3);
    --yt-spec-inverted-background: #f1f1f1;
    --yt-spec-inverted-background-hover: #d9d9d9;
    --yt-spec-keyboard-background: #171c23;
    --yt-spec-keyboard-background-action: #d5e3fc;
    --yt-spec-keyboard-background-bar: #2b3138;
    --yt-spec-keyboard-background-emoji: #171c23;
    --yt-spec-keyboard-background-key: #2b3138;
    --yt-spec-keyboard-background-key-alt: #42474f;
    --yt-spec-keyboard-background-switch: #a0abcb;
    --yt-spec-keyboard-divider: #30353b;
    --yt-spec-keyboard-text-action: #171c23;
    --yt-spec-keyboard-text-character: #ecf1fb;
    --yt-spec-keyboard-text-chevron: #fff;
    --yt-spec-keyboard-text-icon: #fff;
    --yt-spec-keyboard-text-symbol: #c5cbd4;
    --yt-spec-menu-background: #282828;
    --yt-spec-mono-filled-hover: #d9d9d9;
    --yt-spec-mono-filled-hover-inverse: #272727;
    --yt-spec-mono-tonal-hover: rgba(255,255,255,0.2);
    --yt-spec-mono-tonal-hover-inverse: rgba(0,0,0,0.1);
    --yt-spec-outline: rgba(255,255,255,0.2);
    --yt-spec-outline-inverse: rgba(0,0,0,0.1);
    --yt-spec-outline-inverse-opaque: #e5e5e5;
    --yt-spec-outline-opaque: #3f3f3f;
    --yt-spec-outline-rim: rgba(255,255,255,0.15);
    --yt-spec-outline-rim-inverse: rgba(255,255,255,0.3);
    --yt-spec-overlay-additive-background: rgba(40,40,40,0.6);
    --yt-spec-overlay-background-brand: rgba(225,0,45,0.9);
    --yt-spec-overlay-background-extra-light: rgba(0,0,0,0.03);
    --yt-spec-overlay-background-heavy: rgba(0,0,0,0.8);
    --yt-spec-overlay-background-light: rgba(0,0,0,0.1);
    --yt-spec-overlay-background-medium: rgba(0,0,0,0.6);
    --yt-spec-overlay-background-medium-heavy: rgba(0,0,0,0.4);
    --yt-spec-overlay-background-medium-light: rgba(0,0,0,0.3);
    --yt-spec-overlay-background-solid: #000;
    --yt-spec-overlay-button-primary: rgba(255,255,255,0.3);
    --yt-spec-overlay-button-secondary: rgba(255,255,255,0.1);
    --yt-spec-overlay-button-secondary-darker: rgba(255,255,255,0.2);
    --yt-spec-overlay-call-to-action: #3ea6ff;
    --yt-spec-overlay-call-to-action-hover: #65b8ff;
    --yt-spec-overlay-filled-hover: #e6e6e6;
    --yt-spec-overlay-green: #2ba640;
    --yt-spec-overlay-outline: rgba(255,255,255,0.3);
    --yt-spec-overlay-outline-inverse: rgba(255,255,255,0.3);
    --yt-spec-overlay-outline-rim: rgba(255,255,255,0.15);
    --yt-spec-overlay-outline-rim-inverse: rgba(255,255,255,0.15);
    --yt-spec-overlay-solid-background: #e6e6e6;
    --yt-spec-overlay-solid-background-inverse: #0f0f0f;
    --yt-spec-overlay-solid-rim: rgba(255,255,255,0.2);
    --yt-spec-overlay-solid-rim-inverse: rgba(255,255,255,0.2);
    --yt-spec-overlay-solid-wash: #fff;
    --yt-spec-overlay-solid-wash-inverse: rgba(255,255,255,0.2);
    --yt-spec-overlay-text-disabled: rgba(255,255,255,0.3);
    --yt-spec-overlay-text-primary: #fff;
    --yt-spec-overlay-text-primary-inverse: #030303;
    --yt-spec-overlay-text-secondary: rgba(255,255,255,0.7);
    --yt-spec-overlay-tonal-background: rgba(255,255,255,0.3);
    --yt-spec-overlay-tonal-background-inverse: rgba(255,255,255,0.15);
    --yt-spec-overlay-tonal-hover: rgba(255,255,255,0.2);
    --yt-spec-overlay-tonal-rim: rgba(255,255,255,0.15);
    --yt-spec-overlay-tonal-rim-inverse: rgba(255,255,255,0.15);
    --yt-spec-overlay-tonal-wash: rgba(255,255,255,0.15);
    --yt-spec-overlay-tonal-wash-inverse: rgba(255,255,255,0.15);
    --yt-spec-overlay-touch-response: #fff;
    --yt-spec-overlay-touch-response-inverse: #000;
    --yt-spec-raised-background: #212121;
    --yt-spec-red-indicator: #e1002d;
    --yt-spec-shadow-medium: rgba(0,0,0,0.25);
    --yt-spec-solid-background: #e6e6e6;
    --yt-spec-solid-background-inverse: #0f0f0f;
    --yt-spec-solid-rim: rgba(255,255,255,0.2);
    --yt-spec-solid-rim-inverse: rgba(255,255,255,0.2);
    --yt-spec-solid-wash: rgba(255,255,255,0.3);
    --yt-spec-solid-wash-inverse: rgba(255,255,255,0.15);
    --yt-spec-static-ad-yellow: #fbc02d;
    --yt-spec-static-black: #0f0f0f;
    --yt-spec-static-brand-black: #000;
    --yt-spec-static-brand-red: #f03;
    --yt-spec-static-brand-white: #fff;
    --yt-spec-static-clear-black: transparent;
    --yt-spec-static-clear-color: transparent;
    --yt-spec-static-dark-grey: #333;
    --yt-spec-static-grey: #606060;
    --yt-spec-static-magenta: #ff2791;
    --yt-spec-static-medium-magenta: #e01378;
    --yt-spec-static-white-background: #fff;
    --yt-spec-status-bar: #fff;
    --yt-spec-suggested-action: #263850;
    --yt-spec-suggested-action-hover: #515561;
    --yt-spec-suggested-action-inverse: #def1ff;
    --yt-spec-system-bar: #fff;
    --yt-spec-text-complete: #a4ffa4;
    --yt-spec-text-disabled: #717171;
    --yt-spec-text-disabled-inverse: #909090;
    --yt-spec-text-error: #ffbfbd;
    --yt-spec-text-primary: #f1f1f1;
    --yt-spec-text-primary-inverse: #0f0f0f;
    --yt-spec-text-secondary: #aaa;
    --yt-spec-text-secondary-inverse: #606060;
    --yt-spec-text-warning: #ffcd97;
    --yt-spec-themed-green: #2ba640;
    --yt-spec-themed-green-inverse: #107516;
    --yt-spec-themed-overlay-background: rgba(0,0,0,0.8);
    --yt-spec-tonal-background: rgba(255,255,255,0.1);
    --yt-spec-tonal-background-inverse: rgba(0,0,0,0.1);
    --yt-spec-tonal-rim: rgba(255,255,255,0.15);
    --yt-spec-tonal-rim-inverse: rgba(0,0,0,0.05);
    --yt-spec-tonal-wash: rgba(255,255,255,0.05);
    --yt-spec-tonal-wash-inverse: rgba(255,255,255,0.2);
    --yt-spec-touch-response: #fff;
    --yt-spec-touch-response-inverse: #000;
    --yt-spec-wordmark-text: #fff;
    --yt-spec-expressive-trend-10: #fbfee6;
    --yt-spec-expressive-trend-20: #f5ffb7;
    --yt-spec-expressive-trend-30: #ecfd83;
    --yt-spec-expressive-trend-40: #dafd00;
    --yt-spec-expressive-trend-50: #bbe900;
    --yt-spec-expressive-trend-60: #8abb03;
    --yt-spec-expressive-trend-70: #5c7e00;
    --yt-spec-assistive-feed-vibrant-gradient-1: #007a65;
    --yt-spec-assistive-feed-vibrant-gradient-2: #7f0e7f;
    --yt-spec-assistive-feed-vibrant-gradient-3: #ff8983;
    --yt-spec-assistive-feed-themed-gradient-1: #005446;
    --yt-spec-assistive-feed-themed-gradient-2: #39003f;
    --yt-spec-assistive-feed-themed-gradient-3: #590000;
    --yt-spec-scrim-background-gradient-1: rgba(15,15,15,0);
    --yt-spec-scrim-background-gradient-2: rgba(15,15,15,0.3);
    --yt-spec-scrim-background-gradient-3: rgba(15,15,15,0.6);
    --yt-spec-scrim-background-gradient-4: rgba(15,15,15,0.9);
    --yt-spec-scrim-background-gradient-5: #0f0f0f;
    --yt-deprecated-overlay-icon-active-other: #fff;
    --yt-deprecated-general-background-a: var(--yt-spec-base-background);
    --yt-deprecated-general-background-b: var(--yt-spec-base-background);
    --yt-deprecated-general-background-c: var(--yt-spec-base-background);
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    --app-drawer-width: 240px;
    --ytd-persistent-guide-width: 240px;
    --ytd-permission-role-bottom-bar-height: 30px;
    --ytd-mini-guide-width: 72px;
    --app-drawer-content-container-background-color: var( --yt-spec-base-background );
    --ytd-masthead-height-accounting-for-hidden: var( --ytd-masthead-height-absolute,var(--ytd-toolbar-height) );
    scrollbar-color: var(--yt-spec-text-secondary) transparent;
    --ytd-toolbar-offset: var(--ytd-masthead-height,var(--ytd-toolbar-height));
    --ytd-watch-flexy-sidebar-min-width: 300px;
    --ytd-watch-flexy-masthead-height: 56px;
    --ytd-watch-flexy-width-ratio: 16;
    --ytd-watch-flexy-height-ratio: 9;
    --ytd-watch-flexy-non-player-height: calc(var(--ytd-watch-flexy-masthead-height) + var(--ytd-watch-flexy-top-padding) + var(--ytd-watch-flexy-space-below-player));
    --ytd-watch-flexy-non-player-width: calc(var(--ytd-watch-flexy-sidebar-width) + var(--ytd-watch-flexy-horizontal-page-margin)*3);
    --ytd-watch-flexy-min-player-height: 240px;
    --ytd-watch-flexy-min-player-width: calc(var(--ytd-watch-flexy-min-player-height)*(var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio)));
    --ytd-watch-flexy-max-player-height: calc(100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-watch-flexy-top-padding) - var(--ytd-watch-flexy-space-below-player));
    --ytd-watch-flexy-max-player-width: calc((100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-watch-flexy-top-padding) - var(--ytd-watch-flexy-space-below-player))*(var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio)));
    --ytd-watch-flexy-fixed-side-menu-width: calc(var(--ytd-watch-flexy-horizontal-page-margin) + 48px);
    --ytd-watch-flexy-scrollbar-width: 15px;
    --ytd-watch-flexy-horizontal-page-margin: 16px;
    --ytd-watch-flexy-top-padding: 12px;
    --ytd-watch-flexy-sidebar-width: 402px;
    --ytd-watch-compact-thumbnail-width: 168px;
    --ytd-watch-flexy-max-player-width-wide-screen: 1840px;
    --ytd-watch-flexy-space-below-player: 92px;
    --ytd-watch-flexy-panel-max-height: 460px;
    --ytd-watch-flexy-chat-max-height: 460px;
    --ytd-watch-flexy-structured-description-max-height: 460px;
    --ytd-watch-flexy-comments-panel-max-height: 460px;
    --ytd-comments-engagement-panel-content-height: 460px;
    color: var(--yt-spec-text-primary);
    --yt-saturated-base-background: rgba(28,17,2,1.000);
    --yt-saturated-raised-background: rgba(54,35,10,1.000);
    --yt-saturated-additive-background: rgba(201,146,69,0.169);
    --yt-saturated-text-primary: rgba(250,239,224,1.000);
    --yt-saturated-text-secondary: rgba(221,200,172,1.000);
    --yt-saturated-outline: initial;
    --yt-saturated-key-light: initial;
    --yt-saturated-collection-stack: initial;
    --yt-saturated-inverted-background: rgba(227,184,124,1.000);
    --yt-saturated-text-primary-inverse: initial;
    --yt-saturated-text-disabled: initial;
    --yt-saturated-drop-shadow: initial;
    --yt-saturated-card-outline: initial;
    --yt-saturated-overlay-background: rgba(54,35,10,0.800);
    --yt-saturated-overlay-text-primary: initial;
    --yt-button-icon-size: 36px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;